body{
    font-family: 'EB Garamond', serif;
    background-color: white;
}
.text{
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}
.text:hover {
    transition-delay:0.09s;
    color: rgb(235, 156, 156);
  }