<div class="container" style="padding: 2em;">
  <div class="row">   
  <h2  class="wow animate__animated animate__jackInTheBox">Inserir Produtos</h2>
  </div>
  <div class="row">   
  <h3>Bem-vindo novamente! Vamos inserir algum produto?</h3>
  </div>


</div> 
<div style="padding: 2em;">
<p-card  [style]="{'border-left':'6px solid rgb(245, 212, 212)'}">
<form [formGroup]="form">
<div class="row">
<div class="col-md-4"><input style="width: 100%;" class="styleInput" formControlName="description" pInputText type="text" placeholder="Descrição" /></div>
<div class="col-md-4"><input style="width: 100%;"class="styleInput"  formControlName="name" pInputText type="text" placeholder="Nome" /></div>
<div class="col-md-4"><input style="width: 100%;"class="styleInput"  formControlName="model" pInputText type="text" placeholder="Modelo" /></div>  
</div>

<br>
<div class="row">
<div class="col-md-4"><input style="width: 100%;" class="styleInput"  formControlName="packageHeight" pInputText type="number" placeholder="packageHeight" /></div>
<div class="col-md-4"><input style="width: 100%;" class="styleInput"  formControlName="packageLength" pInputText type="number" placeholder="packageLength" /></div>
<div class="col-md-4"><input style="width: 100%;" class="styleInput"  formControlName="packageWidth" pInputText type="number" placeholder="packageWidth" /></div>  
</div>
<br>
<div class="row">
<div class="col-md-4"><input style="width: 100%;" class="styleInput"  formControlName="price" pInputText type="number"  placeholder="Preço"/></div>
<div class="col-md-4"><input style="width: 100%;"  class="styleInput" formControlName="sku" pInputText type="text"  placeholder="sku"/></div>
<div class="col-md-4"><input style="width: 100%;"  class="styleInput" formControlName="weight" pInputText type="number"  placeholder="Peso"/></div>
</div>
<br>
<div class="row">

<div class="col-md-6"><input style="width: 100%;" class="styleInput"  formControlName="fiscalNcm" pInputText type="number" placeholder="fiscalNcm" /></div>
<div class="col-md-6"><input style="width: 100%;" class="styleInput"  formControlName="fiscalSource" pInputText type="number" placeholder="fiscalSource" /></div>

</div>
<br><br>
<button pButton pRipple [style]="'width:100%;'" style="background-color: rgb(245, 212, 212); color: #000;     font-family: 'EB Garamond', serif;"  (click)="Post()" type="button" label="Inserir Produto" class="p-button-raised p-button-warning p-button-text"></button>

</form>
</p-card>

<br><br>

</div>