/* You can add global styles to this file, and also import other style files */
$primary: #d5bddcce;
html, body { height: 100%; font-family: 'IBM Plex Sans KR', sans-serif; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: $primary; font-size: 64.5%;   color: #0305089e;
}
